
</div>
<div class="footer-padding container-fluid"></div>
  <div class="footer">

    <p>Copyright <i class="far fa-copyright"></i> 2019 CRO-BLOG</p>
    <p>Powered by <strong><a href="https://suncica-negra.github.io/Lagonatis/" target="_blank" class="lagonatis">Lagonatis</a></strong></p>


  </div>
</div>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/3.3/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://getbootstrap.com/docs/3.3/assets/js/ie10-viewport-bug-workaround.js"></script>


</body>
</html>












