<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>CRO-BLOG</title>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Merienda:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">

  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous">
  </script>


</head>


    <nav class="navbar navbar-default">
    <div class="container">
        <ul class="nav navbar-nav navbar-right RegLog">
          <a type="submit" class="btn btn-danger btn-sm" id="odjava" href="/logout">Odjava</a>
        </ul><h6> <%= korisnik %> </h6>
    </div>
  </nav>

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <p class="navbar-brand">CRO-BLOG</p>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">POČETNA</a></li>

          <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">OSTALO<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/troskovi">TROŠKOVI</a></li>
                  <li><a href="/foto">FOTOGALERIJA</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Osobno</li>
                  <li><a href="/about">O MENI</a></li>
                  <li><a href="/contact">KONTAKT</a></li>
                </ul>
              </li>

        </ul>
        </div>
    </div>
  </nav>


  <body>
    <div class="container">