<%- include("partials/header1"); -%>

<div class="center">
    	<h1>Kontaktiraj me</h1>
    	<a class="btn btn-default kontakt" href="mailto:blog.cro.nacin@gmail.com" role="button"><%= contactContent %><strong>blog.cro.nacin@gmail.com</strong></a>
    	<p>  </p>
</div>

    <img src="/images/slika2.jpg" alt="moto" id="slika">

<%- include("partials/footer"); -%>
