<%- include("partials/header2"); -%>




<div class="center">

<p>
Ovdje su svi dosadašnji troškovi vezani uz gradnju kuće.
</p>

<table class="table">
  <thead class="thead">
    <tr>
      <th scope="col">Naziv troška</th>
      <th scope="col">Cijena u kunama</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <th scope="row">biljeg</th>
      <td>20</td>
    </tr>

    <tr>
      <th scope="row">uplata za katastar (neiskorištena)</th>
      <td>24,8</td>
    </tr>

    <tr>
      <th scope="row">e-Izvod iz katastarskog plana</th>
      <td>16</td>
    </tr>

    <tr>
      <th scope="row">e-Prijepis posjedovnog lista</th>
      <td>11</td>
    </tr>

    <tr>
      <th scope="row">e-Izvadak iz zemljišne knjige</th>
      <td>21</td>
    </tr>

    <tr>
      <th scope="row">zemljište</th>
      <td>61 000</td>
    </tr>

    <tr>
      <th scope="row">odvjetnički troškovi</th>
      <td>1 000</td>
    </tr>

    <tr>
      <th scope="row">ovjera kupoprodajnog ugovora</th>
      <td>105</td>
    </tr>

    <tr>
      <th scope="row">upis kod suda da smo vlasnici kupljene zemlje</th>
      <td>250</td>
    </tr>

    <tr>
      <th scope="row">lokacijska informacija</th>
      <td>21</td>
    </tr>

    <tr>
      <th scope="row">porez na zemljište</th>
      <td>2 440</td>
    </tr>

    <tr>
      <th scope="row">geodet</th>
      <td>8 000</td>
    </tr>

    <tr>
      <th scope="row">idejni projekt (nesuđeni)</th>
      <td>6 000</td>
    </tr>

    <tr>
      <th scope="row">posebni uvjeti</th>
      <td>120</td>
    </tr>

    <tr>
      <th scope="row">idejni projekt (realizirani)</th>
      <td>5 000</td>
    </tr>

    <tr>
      <th scope="row">razni papiri i potvrde</th>
      <td>30,67</td>
    </tr>

    <tr>
      <th scope="row">glavni projekt</th>
      <td>26 000</td>
    </tr>

    <tr>
      <th scope="row">zahtjev za izdavanje građevinske</th>
      <td>70</td>
    </tr>

    <tr>
      <th scope="row">preuzimanje građevinske dozvole</th>
      <td>801</td>
    </tr>

    <thead class="thead">
    <tr>
      <th scope="col">SVEUKUPNO DO SAD</th>
      <th scope="col">110 930,47</th>
    </tr>
  	</thead>

  </tbody>
</table>
</div>






<%- include("partials/footer"); -%>